### **READ INVENTORY**

In [179]:
import json
import time
fd = open("records.json",'r')
r = fd.read()
fd.close()
records = json.loads(r)

In [180]:
records

{'1001': {'MFD': '2nd Sep 2021',
  'Price': 36,
  'Product Name': 'Choco Cake',
  'Quantity': 20},
 '1002': {'MFD': '2nd Aug 2021',
  'Price': 800,
  'Product Name': 'Milk Cake',
  'Quantity': 98},
 '1003': {'MFD': '22nd July 2021',
  'Price': 85,
  'Product Name': 'Drink',
  'Quantity': 100},
 '1004': {'MFD': '2nd Sep 2021',
  'Price': 5,
  'Product Name': 'Candy',
  'Quantity': 1000},
 '1005': {'MFD': '2nd July 2020',
  'Price': 20,
  'Product Name': 'Pen',
  'Quantity': 98},
 '1006': {'MFD': '25th May 2020',
  'Price': 50000,
  'Product Name': 'Phone',
  'Quantity': 10},
 '1007': {'MFD': '6th Aug 2019',
  'Price': 1500,
  'Product Name': 'Mic',
  'Quantity': 0},
 '1008': {'MFD': '2nd Sep 2021',
  'Price': 599,
  'Product Name': 'Case',
  'Quantity': 5},
 '1009': {'MFD': '2nd Sep 2021',
  'Price': 1999,
  'Product Name': 'Keyboard',
  'Quantity': 10},
 '1010': {'MFD': '2nd Feb 2021',
  'Price': 62000,
  'Product Name': 'Laptop',
  'Quantity': 10},
 '1011': {'MFD': '2nd Aug 2020',
  'Price': 69999,
  'Product Name': 'Joystick',
  'Quantity': 10},
 '1012': {'MFD': '3rd July 2021',
  'Price': 69999,
  'Product Name': 'Television',
  'Quantity': 10},
 '1013': {'MFD': '12th June 2021',
  'Price': 599,
  'Product Name': 'Pen Drive',
  'Quantity': 50},
 '1014': {'MFD': '16TH May 2021',
  'Price': 90000,
  'Product Name': 'AC',
  'Quantity': 10},
 '1015': {'MFD': '5th April 2021',
  'Price': 15000,
  'Product Name': 'Speaker',
  'Quantity': 9},
 '1016': {'MFD': '22nd July 2021',
  'Price': 1699,
  'Product Name': 'Power Bank',
  'Quantity': 15},
 '1017': {'MFD': '31st Aug 2021',
  'Price': 150,
  'Product Name': 'Sanitizer',
  'Quantity': 100},
 '1018': {'MFD': '24th Aug 2021',
  'Price': 150,
  'Product Name': 'Hand wash',
  'Quantity': 200},
 '1019': {'MFD': '14th July 2021',
  'Price': 15,
  'Product Name': 'Soap',
  'Quantity': 200},
 '1020': {'MFD': '1st Sep 2021',
  'Price': 20,
  'Product Name': 'Parle G',
  'Quantity': 250},
 '1021': {'MFD': '3rd Sep 2021',
  'Price': 25,
  'Product Name': 'Marie ',
  'Quantity': 150},
 '1022': {'MFD': '27th Aug 2021',
  'Price': 30,
  'Product Name': 'Good Day',
  'Quantity': 150},
 '1023': {'MFD': '14th July 2021',
  'Price': 30,
  'Product Name': 'Dairy Milk',
  'Quantity': 200},
 '1024': {'MFD': '30th July 2021',
  'Price': 15,
  'Product Name': 'Munch',
  'Quantity': 200},
 '1025': {'MFD': '15th May 2021',
  'Price': 220,
  'Product Name': 'Deodorant',
  'Quantity': 120},
 '1026': {'MFD': '17th June 2021',
  'Price': 300,
  'Product Name': 'Shampoo',
  'Quantity': 100},
 '1027': {'MFD': '4th Sep 2021',
  'Price': 25,
  'Product Name': 'Bread',
  'Quantity': 30},
 '1028': {'MFD': '22nd July 2021',
  'Price': 75,
  'Product Name': 'Sauce',
  'Quantity': 100},
 '1029': {'MFD': '14th June 2021',
  'Price': 50,
  'Product Name': 'Noodles',
  'Quantity': 100},
 '1030': {'MFD': '1st Aug 2021',
  'Price': 30,
  'Product Name': 'Maggie',
  'Quantity': 120},
 '1031': {'MFD': '22nd April 2021',
  'Price': 120,
  'Product Name': 'ALL OUT',
  'Quantity': 30},
 '1032': {'MFD': '3rd May 2021',
  'Price': 3999,
  'Product Name': 'Headset',
  'Quantity': 20}}

### **UPDATE INVENTORY AFTER PURCHASE**

In [234]:
import json
fd = open("records.json",'r')
r = fd.read()
fd.close()
records = json.loads(r)
import time
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

if ui_quant<=records[ui_prod]['Quantity']:
  print("********************************")    
  print("Product Name: ", records[ui_prod]['Product Name'])
  print("Price: ", records[ui_prod]['Price'])
  print("MFD:", records[ui_prod]['MFD'])
  print("Time of purchase:",time.ctime())
  print("---------------------------------")
  print("Billing Amount: ", records[ui_prod]['Price'] * ui_quant)
  print("*********************************")
  print("*THANK YOU!! VISIT AGAIN!!*")
else:
  print("Product Unavailable!! Available Quantity:",records[ui_prod]['Quantity'])

records[ui_prod]['Quantity'] = records[ui_prod]['Quantity'] - ui_quant

Enter the product_Id: 1009
Enter the quantity: 2
********************************
Product Name:  Keyboard
Price:  1999
MFD: 2nd Sep 2021
Time of purchase: Sun Sep  5 17:07:23 2021
---------------------------------
Billing Amount:  3998
*********************************
*THANK YOU!! VISIT AGAIN!!*

In [235]:
js = json.dumps(records)
fd = open("records.json",'w')
fd.write(js)
fd.close()

In [236]:
fd = open("records.json",'r')
records = fd.read()
fd.close()

In [237]:
records = json.loads(records)
records

{'1001': {'MFD': '2nd Sep 2021',
  'Price': 36,
  'Product Name': 'Choco Cake',
  'Quantity': 20},
 '1002': {'MFD': '2nd Aug 2021',
  'Price': 800,
  'Product Name': 'Milk Cake',
  'Quantity': 98},
 '1003': {'MFD': '22nd July 2021',
  'Price': 85,
  'Product Name': 'Drink',
  'Quantity': 100},
 '1004': {'MFD': '2nd Sep 2021',
  'Price': 5,
  'Product Name': 'Candy',
  'Quantity': 1000},
 '1005': {'MFD': '2nd July 2020',
  'Price': 20,
  'Product Name': 'Pen',
  'Quantity': 97},
 '1006': {'MFD': '25th May 2020',
  'Price': 50000,
  'Product Name': 'Phone',
  'Quantity': 10},
 '1007': {'MFD': '6th Aug 2019',
  'Price': 1500,
  'Product Name': 'Mic',
  'Quantity': 0},
 '1008': {'MFD': '2nd Sep 2021',
  'Price': 599,
  'Product Name': 'Case',
  'Quantity': 5},
 '1009': {'MFD': '2nd Sep 2021',
  'Price': 1999,
  'Product Name': 'Keyboard',
  'Quantity': 8},
 '1010': {'MFD': '2nd Feb 2021',
  'Price': 62000,
  'Product Name': 'Laptop',
  'Quantity': 10},
 '1011': {'MFD': '2nd Aug 2020',
  'Price': 69999,
  'Product Name': 'Joystick',
  'Quantity': 10},
 '1012': {'MFD': '3rd July 2021',
  'Price': 69999,
  'Product Name': 'Television',
  'Quantity': 10},
 '1013': {'MFD': '12th June 2021',
  'Price': 599,
  'Product Name': 'Pen Drive',
  'Quantity': 50},
 '1014': {'MFD': '16TH May 2021',
  'Price': 90000,
  'Product Name': 'AC',
  'Quantity': 10},
 '1015': {'MFD': '5th April 2021',
  'Price': 15000,
  'Product Name': 'Speaker',
  'Quantity': 9},
 '1016': {'MFD': '22nd July 2021',
  'Price': 1699,
  'Product Name': 'Power Bank',
  'Quantity': 15},
 '1017': {'MFD': '31st Aug 2021',
  'Price': 150,
  'Product Name': 'Sanitizer',
  'Quantity': 100},
 '1018': {'MFD': '24th Aug 2021',
  'Price': 150,
  'Product Name': 'Hand wash',
  'Quantity': 200},
 '1019': {'MFD': '14th July 2021',
  'Price': 15,
  'Product Name': 'Soap',
  'Quantity': 200},
 '1020': {'MFD': '1st Sep 2021',
  'Price': 20,
  'Product Name': 'Parle G',
  'Quantity': 249},
 '1021': {'MFD': '3rd Sep 2021',
  'Price': 25,
  'Product Name': 'Marie ',
  'Quantity': 150},
 '1022': {'MFD': '27th Aug 2021',
  'Price': 30,
  'Product Name': 'Good Day',
  'Quantity': 149},
 '1023': {'MFD': '14th July 2021',
  'Price': 30,
  'Product Name': 'Dairy Milk',
  'Quantity': 200},
 '1024': {'MFD': '30th July 2021',
  'Price': 15,
  'Product Name': 'Munch',
  'Quantity': 200},
 '1025': {'MFD': '15th May 2021',
  'Price': 220,
  'Product Name': 'Deodorant',
  'Quantity': 120},
 '1026': {'MFD': '17th June 2021',
  'Price': 300,
  'Product Name': 'Shampoo',
  'Quantity': 100},
 '1027': {'MFD': '4th Sep 2021',
  'Price': 25,
  'Product Name': 'Bread',
  'Quantity': 30},
 '1028': {'MFD': '22nd July 2021',
  'Price': 75,
  'Product Name': 'Sauce',
  'Quantity': 100},
 '1029': {'MFD': '14th June 2021',
  'Price': 50,
  'Product Name': 'Noodles',
  'Quantity': 100},
 '1030': {'MFD': '1st Aug 2021',
  'Price': 30,
  'Product Name': 'Maggie',
  'Quantity': 120},
 '1031': {'MFD': '22nd April 2021',
  'Price': 120,
  'Product Name': 'ALL OUT',
  'Quantity': 30},
 '1032': {'MFD': '3rd May 2021',
  'Price': 3999,
  'Product Name': 'Headset',
  'Quantity': 20}}

### **Sales JSON**

In [249]:
sale=json.dumps(sale)
fd = open("sale.json",'w')
sale=fd.write(sale)
fd.close()
Transaction_ID = str(input("Enter the Transaction ID: "))
sale={'Transaction_ID':Transaction_ID,'Product ID' : ui_prod, 'Quantity' : ui_quant, 'Amount': records[ui_prod]['Price'] * ui_quant}
sale

Enter the Transaction ID: 1

{'Amount': 3998, 'Product ID': '1009', 'Quantity': 2, 'Transaction_ID': '1'}

In [250]:
fd = open("sale.json",'r')
fd.read()
fd.close()
sale

{'Amount': 3998, 'Product ID': '1009', 'Quantity': 2, 'Transaction_ID': '1'}